/node_modules
/vendor
/.env
/.env.*
!.env.example
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/storage
/public/hot
/public/build
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
.DS_Store
Thumbs.db
*.sql
*.sqlite
/composer.phar
/phpunit.xml
/.phpunit.cache
/.php-cs-fixer.cache
/.php-version
/docs
.env.backup
.phpunit.result.cache
**/node_modules
**/vendor
